# BSC Network
NEXT_PUBLIC_BSC_TESTNET_RPC=https://data-seed-prebsc-1-s1.binance.org:8545/
NEXT_PUBLIC_BSC_MAINNET_RPC=https://bsc-dataseed1.binance.org/

# Contract Addresses
NEXT_PUBLIC_CONTRACT_TESTNET=0x36551a174D59C7A0F9383EB02285BC70D0e60A9d
NEXT_PUBLIC_CONTRACT_MAINNET=

# USDT BEP-20
NEXT_PUBLIC_USDT_TESTNET=0x337610d27c682E347C9cD60BD4b3b107C9d34dDD
NEXT_PUBLIC_USDT_MAINNET=0x55d398326f99059fF775485246999027B3197955

# OpenWeather API
NEXT_PUBLIC_OPENWEATHER_KEY=your_key_here

# Network mode
NEXT_PUBLIC_NETWORK=testnet
